<template>
    <article>
        <h1 v-html="title"></h1>
        <div class="copy">
            <p v-for="(value, key) in copyArray" :key="key" v-html="value">
            </p>
        </div>
    </article>
</template>

<script>
export default {
    name: 'Aritcle',
    props: {
        title: String,
        copy: [String, Array]
    },
    computed: {
        copyArray() {
            return ( Array.isArray(this.copy) ? this.copy : [this.copy] );
        }
    }
}
</script>


<style scoped lang="scss">
article {
    max-width: 600px;
    margin: auto;

    h1 {
        font-size: 40px;
    }
}
</style>