<template>
    <div class="carousel-container" v-if="carouselItems.length > 0">
        <div 
            class="carousel-item" 
            v-for="(value, key) in carouselItems" :key="key"
            :style="{
                backgroundImage: 'url(' + value.image + ')', 
                zIndex: 40 - Math.abs(distanceFromCurrentArray[key]) }"
            :class="{
                active: key == currentIndex,
                beforeCurrent: Math.sign(distanceFromCurrentArray[key]) == -1,
                afterCurrent: Math.sign(distanceFromCurrentArray[key]) == 1
                }">

            <div class="title" v-html="value.title"></div>
        </div>

        <a href="#" class="button left" @click.stop.prevent="decrementIndex()"></a>
        <a href="#" class="button right" @click.stop.prevent="incrementIndex()"></a>

        <div class="selectors">
            <a href="#" class="button"
                v-for="(value, key) in carouselItems" :key="key"
                @click.stop.prevent="setCurrentIndex(key)"
                :class="{active: (currentIndex == key)}"></a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Carousel',
    props: {
        carouselItems: Array
    },
    data() {
        return {
            currentIndex: 0
        };
    },
    computed: {
        distanceFromCurrentArray() {
            let distArray = [];

            for (let idx = 0; idx < this.carouselItems.length; idx++)
            {
                let currentIdxDist = idx - this.currentIndex;
                // let maxDist = Math.floor(this.carouselItems.length/2);
                
                currentIdxDist = (currentIdxDist % this.carouselItems.length);

                // if (currentIdxDist > maxDist)
                // {
                //     currentIdxDist -= this.carouselItems.length;
                // }

                distArray.push(currentIdxDist);
            }

            return distArray;
        }
    },
    methods: {
        setCurrentIndex (idx) {
            // This is how you do modulus in a resonable way
            this.currentIndex = ((idx % this.carouselItems.length) + this.carouselItems.length) % this.carouselItems.length;
        },
        incrementIndex() {
            this.setCurrentIndex(this.currentIndex + 1);
        },
        decrementIndex() {
            this.setCurrentIndex(this.currentIndex - 1);
        }
    }
}
</script>


<style scoped lang="scss">
.carousel-container {
    position: relative;
    min-height: 50vh;
    overflow: hidden;

    .carousel-item {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s linear;

        &.active {
            transform: translateX(0%);
        }

        &.beforeCurrent {
            transform: translateX(-100%);
        }

        &.afterCurrent {
            transform: translateX(100%);
        }

        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 60%;
            transform: translate(-50%, -50%);

            text-align: center;
            font-size: 32px;
            color: #FFF;
            text-shadow: 0 0 7px black;
        }
    }

    .button {
        position: absolute;
        z-index: 400;

        &.left, &.right {
            top: 50%;
            transform: translateY(-50%);
            left: auto;
            right: auto;

            height: 20px;
            width: 20px;
        }

        &.left {
            left: 10%;
        }

        &.right {
            right: 10%;
        }
    }

    .selectors {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 0;
        text-align: center;

        .button {
            position: relative;
            display: inline-block !important;
            margin: 5px;

            &:hover, &:focus {
                background-color: #0068AC !important;
            }

            &.active {
                background-color: #0068AC !important;
            }
        }
    }
    
}
</style>