<template>
    <nav>
        <ul>
            <li v-for="(value, key) in menuItems" :key="key">
                <a :href="value.url" class="button">
                    {{ value.label }}
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: 'Menu',
    props: {
        menuItems: Array
    }
}
</script>


<style scoped lang="scss">
nav {
    position: sticky;
    top: 0;
    z-index: 500;

    ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            padding: 20px;

            .button {
                min-width: 140px;
            }
        }
    }
}
</style>