<template>
    <div id="app">
        <template v-if="loading">

        <div class="loading">Loading</div>

        </template>
        <template v-else>
            <!-- Menu -->
            <page-menu
                class="themed"
                :menu-items="menuItems"/>
            <!-- Carousel -->
            <page-carousel
                class="themed"
                :carousel-items="carouselItems"/>
            <!-- Article, w/Heading and Copy -->
            <page-article
                :title="article.title"
                :copy="article.copy"/>
        </template>
    </div>
</template>

<script>
import PageMenu from './components/Menu.vue'
import PageCarousel from './components/Carousel.vue'
import PageArticle from './components/Article.vue'

export default {
    name: 'App',
    components: {
        PageMenu,
        PageCarousel,
        PageArticle
    },
    data() {
        return {
            loading: true,
            menuItems: [],
            carouselItems: [],
            article: {}
        };
    },
    mounted() {
        this.getPageContent();
    },
    methods: {
        async getPageContent() {
            this.loading = true;

            const { data: pageModel } = await this.$http.get('/page.json');

            this.menuItems = pageModel['menu-items'];
            this.carouselItems = pageModel['carousel-items'];
            this.article = pageModel['article'];

            this.loading = false;
        }
    }
}
</script>

<style lang="scss">
body {
    margin: 0;
    padding: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .themed {
        background-color: #0068AC;

        .button {
            display: block;
            padding: 10px;
            color: #FFF;
            background-color: #16B561;
            border: 2px solid #FFF;
            border-radius: 500px;
            text-decoration: none;

            &:hover {
                background-color: transparent;
                text-decoration: underline;
            }
        }
    }
}
</style>
